@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .hoverBg{
        @apply px-4 py-1 h-10 rounded-full hover:bg-gray-800/70;
    }

    .hoverBg:has(.hoverBg:hover){
        @apply bg-transparent;
    }

    .js-rotate180{
        transform: rotate(0);
        transition: transform 0.3s ease;
    }

    .js-rotate90{
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }

    .js-rotate180.rotate180{
        transform: rotate(180deg)
    }

    .js-rotate90.rotate180{
        transform: rotate(180deg);
    }
      
    .scrollable::-webkit-scrollbar {
        @apply w-2 p-[1px];
    }
      
    .scrollable::-webkit-scrollbar-thumb {
        @apply bg-gray-800 rounded-xl p-[1px];
    }

    .menuMobile{
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }

    .grid-container.open-menu .menuMobile{
        transform: translateX(0);
    }

    .grid-container{
        display: grid;
        grid-template-columns: 102px auto;
        transition: grid-template-columns 0.3s ease;
    }

    .grid-container.open-menu{
        grid-template-columns: 250px auto;
    }

    .js-sectionMenu {
        @apply hidden opacity-0 animate-fadeIn;
    }
    
    .grid-container.open-menu .js-sectionMenu {
        @apply grid opacity-100;
    }
}