@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .hoverBg{
        @apply px-4 py-1 h-10 rounded-full hover:bg-gray-800/70;
    }

    .hoverBg:has(.hoverBg:hover){
        background-color: transparent;
    }
      
    .scrollable::-webkit-scrollbar {
        width: 8px;
        padding: 1px;
    }
      
    .scrollable::-webkit-scrollbar-thumb {
        background-color: theme(colors.gray.800);
        border-radius: 10px;
        padding: 1px;
    }
}